<a href="https://colab.research.google.com/github/prog815/DLSchool-deep_learning_2019-20/blob/master/%5Bseminar%2C_prodv%5D4_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="align: center;"><img align=center src="https://s8.hostingkartinok.com/uploads/images/2018/08/308b49fcfbc619d629fe4604bceb67ac.jpg" width=500 height=450/></p>

<h3 style="text-align: center;"><b>"Глубокое обучение". Продвинутый поток</b></h3>

<h2 style="text-align: center;"><b>День 3. Библиотека <a href="http://pandas.pydata.org/">pandas</a></b></h2>

Библиотека `pandas` активно используется в современном data science для работы с данными, которые могут быть представлены в виде таблиц (а это очень, очень большая часть данных)

`pandas` есть в пакете Anaconda, но если вдруг у Вас её по каким-то причинам нет, то можно установить, раскомментировав следующую команду:

In [0]:
# !pip install numpy pandas

In [0]:
import numpy as np
import pandas as pd

## pd.Series

Одномерный набор данных. Похож на `np.ndarray`, но с более расширенным функционалом

In [0]:
np.random.seed(42)

In [4]:
np_array = np.random.randint(low=-15, high=20, size=4)
np_array

array([ 3,  7, -5, -5])

In [5]:
# Series можно сделать из массива
pd_series_1 = pd.Series(np_array)
pd_series_1

0    3
1    7
2   -5
3   -5
dtype: int64

In [6]:
# Так же можно аннотировать индексы, чтобы потом было более удобно обращаться к элементам
pd_series_2 = pd.Series(np_array, index=['1st day', '2nd day', '3rd day', '4th day'])
pd_series_2

1st day    3
2nd day    7
3rd day   -5
4th day   -5
dtype: int64

In [7]:
pd_series_2['4th day']

-5

In [9]:
# А еще можно дать pd.Series имя, чтобы было совсем красиво
pd_series_3 = pd.Series(np_array, index=['1st day', '2nd day', '3rd day', '4th day'], name='Temperature')
pd_series_3

1st day    3
2nd day    7
3rd day   -5
4th day   -5
Name: Temperature, dtype: int64

In [10]:
# с индексами можно работать так же, как и в случае с обычным list
print(pd_series_3[0])
print('*'*5)
print(pd_series_3[1:3])
print('*'*5)
print(pd_series_3[::-1])

3
*****
2nd day    7
3rd day   -5
Name: Temperature, dtype: int64
*****
4th day   -5
3rd day   -5
2nd day    7
1st day    3
Name: Temperature, dtype: int64

`series` можно отсортировать как по значениям, так и по индексу

In [11]:
pd_series_3.sort_index()

1st day    3
2nd day    7
3rd day   -5
4th day   -5
Name: Temperature, dtype: int64

In [12]:
pd_series_3.sort_values()

3rd day   -5
4th day   -5
1st day    3
2nd day    7
Name: Temperature, dtype: int64

с `series` можно работать как с `np.ndarray`

In [13]:
pd_series_3 + 100

1st day    103
2nd day    107
3rd day     95
4th day     95
Name: Temperature, dtype: int64

In [14]:
np.exp(pd_series_3)

1st day      20.085537
2nd day    1096.633158
3rd day       0.006738
4th day       0.006738
Name: Temperature, dtype: float64

In [15]:
term_1 = pd.Series(np.random.randint(0, 10, 5))
term_2 = pd.Series(np.random.randint(0, 10, 6))

print('Term1:\n{}\n\nTerm2:\n{}\n\nSum:\n{}'.format(term_1, term_2, term_1 + term_2))

Term1:
0    7
1    4
2    3
3    7
4    7
dtype: int64

Term2:
0    2
1    5
2    4
3    1
4    7
5    5
dtype: int64

Sum:
0     9.0
1     9.0
2     7.0
3     8.0
4    14.0
5     NaN
dtype: float64

In [16]:
term_1.shape

(5,)

In [17]:
date_range = pd.date_range('20190101', periods=10)
pd_series_4 = pd.Series(np.random.rand(10), date_range)
pd_series_4

2019-01-01    0.000779
2019-01-02    0.992212
2019-01-03    0.617482
2019-01-04    0.611653
2019-01-05    0.007066
2019-01-06    0.023062
2019-01-07    0.524775
2019-01-08    0.399861
2019-01-09    0.046666
2019-01-10    0.973756
Freq: D, dtype: float64

In [18]:
pd_series_4 > 0.5

2019-01-01    False
2019-01-02     True
2019-01-03     True
2019-01-04     True
2019-01-05    False
2019-01-06    False
2019-01-07     True
2019-01-08    False
2019-01-09    False
2019-01-10     True
Freq: D, dtype: bool

в качестве индекса можно указать выражение, и нам будут возвращены только те элементы, для которых знвчение является `True`

In [19]:
pd_series_4[pd_series_4 > 0.5]

2019-01-02    0.992212
2019-01-03    0.617482
2019-01-04    0.611653
2019-01-07    0.524775
2019-01-10    0.973756
dtype: float64

In [20]:
pd_series_4[(pd_series_4 > 0.5) & (pd_series_4 < 0.6)]

2019-01-07    0.524775
Freq: D, dtype: float64

In [21]:
pd_series_4[(pd_series_4 > 0.6) | (pd_series_4 < 0.2)]

2019-01-01    0.000779
2019-01-02    0.992212
2019-01-03    0.617482
2019-01-04    0.611653
2019-01-05    0.007066
2019-01-06    0.023062
2019-01-09    0.046666
2019-01-10    0.973756
dtype: float64

## DataFrame

Двумерная таблица данных. Имеет индекс и набор столбцов (возможно, имеющих разные типы). Таблицу можно построить, например, из словаря, значениями в котором являются одномерные наборы данных.

In [22]:
# Dataframe можно составить из словаря. Ключ будет соответсовать колонке
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [23]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [24]:
df.columns

Index(['one', 'two'], dtype='object')

In [25]:
df['one']['c']

3.0

In [26]:
df.one

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

Если указать диапазон индексов, то это означает диапазон строк. Причём **последняя строка включается в таблицу.**

Диапазон целых чисел даёт диапазон строк с такими номерами, **не включая последнюю строку** (как обычно при индексировании списков). 

На это стоит обратить внимание

In [27]:
df['b':'d']

   one  two
b  2.0    2
c  3.0    3
d  NaN    4

In [28]:
df[1:3]

   one  two
b  2.0    2
c  3.0    3

In [29]:
df['three'] = df['one'] * df['two']
df

   one  two  three
a  1.0    1    1.0
b  2.0    2    4.0
c  3.0    3    9.0
d  NaN    4    NaN

Иногда нам надо обьединить 2 таблицы вместе. В этом могут помочь методы `concat` и `join`

In [32]:
# concatinating
df2=pd.DataFrame({'one':{'a':11,'e':0,'f':1},'one_tr':{'e':2}})
df2

   one  one_tr
a   11     NaN
e    0     2.0
f    1     NaN

In [33]:
pd.concat([df,df2], sort=False)

    one  two  three  one_tr
a   1.0  1.0    1.0     NaN
b   2.0  2.0    4.0     NaN
c   3.0  3.0    9.0     NaN
d   NaN  4.0    NaN     NaN
a  11.0  NaN    NaN     NaN
e   0.0  NaN    NaN     2.0
f   1.0  NaN    NaN     NaN

In [34]:
df1 = pd.DataFrame({
    'one':pd.Series([1,2,3,4], index=['a','b','c','d']),
    'two':pd.Series([5,6,7,8], index=['a','b','c','d'])
})
df1

   one  two
a    1    5
b    2    6
c    3    7
d    4    8

In [35]:

df2 = pd.DataFrame({
    'one':pd.Series([1,2,3,4,5], index=['a','b','c','d', 'e']),
    'three':pd.Series(['1','1','2','3'], index=['a','b','c','d'])
})
df2

   one three
a    1     1
b    2     1
c    3     2
d    4     3
e    5   NaN

In [36]:
df1.join(df2.set_index('one'), on='one')

   one  two three
a    1    5     1
b    2    6     1
c    3    7     2
d    4    8     3

Более подробно про join:  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html

Теперь попробуем поработать с настоящими данными

### Скачать данные: https://www.kaggle.com/ramamet4/app-store-apple-data-set-10k-apps

In [39]:
#!wget https://www.dropbox.com/s/o9uiqxb3yr6ch6k/app-store-apple-data-set-10k-apps.zip?dl=0
!unzip app-store-apple-data-set-10k-apps.zip

Archive:  app-store-apple-data-set-10k-apps.zip
  inflating: AppleStore.csv
  inflating: appleStore_description.csv

In [41]:
data = pd.read_csv('AppleStore.csv')

# вывести первые 5 строк
# data.head(5)
# вывести последние 5 строк
# data.tail(5)
# вывести 5 случайных строк
data.sample(5)

      Unnamed: 0          id  ... lang.num  vpp_lic
3173        3812   940314673  ...        2        1
2560        3031   847985808  ...       11        1
357          403   363486833  ...        4        1
304          343   351091731  ...        2        1
6057        8506  1110700363  ...        1        1

[5 rows x 17 columns]

In [42]:
data = pd.read_csv('./AppleStore.csv', index_col=0)

data.head()

          id  ... vpp_lic
1  281656475  ...       1
2  281796108  ...       1
3  281940292  ...       1
4  282614216  ...       1
5  282935706  ...       1

[5 rows x 16 columns]

Можно узнать размер таблицы, информацию о значениях таблицы, различные статистики по значениям

In [43]:
data.shape

(7197, 16)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7197 entries, 1 to 11097
Data columns (total 16 columns):
id                  7197 non-null int64
track_name          7197 non-null object
size_bytes          7197 non-null int64
currency            7197 non-null object
price               7197 non-null float64
rating_count_tot    7197 non-null int64
rating_count_ver    7197 non-null int64
user_rating         7197 non-null float64
user_rating_ver     7197 non-null float64
ver                 7197 non-null object
cont_rating         7197 non-null object
prime_genre         7197 non-null object
sup_devices.num     7197 non-null int64
ipadSc_urls.num     7197 non-null int64
lang.num            7197 non-null int64
vpp_lic             7197 non-null int64
dtypes: float64(3), int64(8), object(5)
memory usage: 955.9+ KB

In [45]:
data.describe()

                 id    size_bytes  ...     lang.num      vpp_lic
count  7.197000e+03  7.197000e+03  ...  7197.000000  7197.000000
mean   8.631310e+08  1.991345e+08  ...     5.434903     0.993053
std    2.712368e+08  3.592069e+08  ...     7.919593     0.083066
min    2.816565e+08  5.898240e+05  ...     0.000000     0.000000
25%    6.000937e+08  4.692275e+07  ...     1.000000     1.000000
50%    9.781482e+08  9.715302e+07  ...     1.000000     1.000000
75%    1.082310e+09  1.819249e+08  ...     8.000000     1.000000
max    1.188376e+09  4.025970e+09  ...    75.000000     1.000000

[8 rows x 11 columns]

Чтобы посмотреть, какие колонки есть в таблице, можно воспользоваться `columns`

In [46]:
data.columns

Index(['id', 'track_name', 'size_bytes', 'currency', 'price',
       'rating_count_tot', 'rating_count_ver', 'user_rating',
       'user_rating_ver', 'ver', 'cont_rating', 'prime_genre',
       'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'],
      dtype='object')

Метод `values` преобразует `pd.DataFrame` к `np.ndarray`

In [47]:
data.values

array([[281656475, 'PAC-MAN Premium', 100788224, ..., 5, 10, 1],
       [281796108, 'Evernote - stay organized', 158578688, ..., 5, 23, 1],
       [281940292, 'WeatherBug - Local Weather, Radar, Maps, Alerts',
        100524032, ..., 5, 3, 1],
       ...,
       [1187779532, 'Bret Michaels Emojis + Lyric Keyboard', 111322112,
        ..., 1, 1, 1],
       [1187838770, 'VR Roller Coaster World - Virtual Reality',
        97235968, ..., 0, 2, 1],
       [1188375727, 'Escape the Sweet Shop Series', 90898432, ..., 0, 2,
        1]], dtype=object)

In [48]:
type(data.values)

numpy.ndarray

In [49]:
data.values[:,0]

array([281656475, 281796108, 281940292, ..., 1187779532, 1187838770,
       1188375727], dtype=object)

Более продвинутое индексирование по таблице: **loc** и **iloc**

`iloc` - index-based selection

In [50]:
data.iloc[0]

id                        281656475
track_name          PAC-MAN Premium
size_bytes                100788224
currency                        USD
price                          3.99
rating_count_tot              21292
rating_count_ver                 26
user_rating                       4
user_rating_ver                 4.5
ver                           6.3.5
cont_rating                      4+
prime_genre                   Games
sup_devices.num                  38
ipadSc_urls.num                   5
lang.num                         10
vpp_lic                           1
Name: 1, dtype: object

In [51]:
data.iloc[1:3, 1:3]

                                        track_name  size_bytes
2                        Evernote - stay organized   158578688
3  WeatherBug - Local Weather, Radar, Maps, Alerts   100524032

In [52]:
data.iloc[[0,1,2], 0]

1    281656475
2    281796108
3    281940292
Name: id, dtype: int64

In [53]:
data.iloc[-1, :]

id                                    1188375727
track_name          Escape the Sweet Shop Series
size_bytes                              90898432
currency                                     USD
price                                          0
rating_count_tot                               3
rating_count_ver                               3
user_rating                                    5
user_rating_ver                                5
ver                                          1.0
cont_rating                                   4+
prime_genre                                Games
sup_devices.num                               40
ipadSc_urls.num                                0
lang.num                                       2
vpp_lic                                        1
Name: 11097, dtype: object

`loc` - label-based selection

In [54]:
# первое значение - index, второе - имя колонки
data.loc[1, ['id', 'track_name', 'price']]

id                  281656475
track_name    PAC-MAN Premium
price                    3.99
Name: 1, dtype: object

**Choosing between loc and iloc**

When choosing or transitioning between loc and iloc, there is one "gotcha" worth keeping in mind, which is that the two methods use slightly different indexing schemes.

`iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

Why the change? Remember that loc can index any stdlib type: strings, for example. If we have a DataFrame with index values `Apples, ..., Potatoes, ...,` and we want to select "all the alphabetical fruit choices between Apples and Potatoes", then it's a lot more convenient to index `df.loc['Apples':'Potatoes']` than it is to index something like `df.loc['Apples', 'Potatoet']` (t coming after s in the alphabet).

This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them! To get 1000 elements using `loc`, you will need to go one lower and ask for `df.iloc[0:999]`.

Otherwise, the semantics of using `loc` are the same as those for `iloc`.

`loc` может принимать булевы выражения (так же, как и в случае с `pd.Series`)

Еще один полезный метод - `isin`

In [0]:
data.loc[data.prime_genre.isin(['Games', 'Shopping'])].head()

           id  ... vpp_lic
1   281656475  ...       1
4   282614216  ...       1
6   283619399  ...       1
10  284736660  ...       1
11  284791396  ...       1

[5 rows x 16 columns]

Иногда бывает так, что мы хотим как-то сагрегировать данные, чтобы ответить на интересующие нас вопросы

Например, мы хотим узнать какая максимальная цена приложения, среди приложений, которые получили одинаковые оценки пользователей

для этого нам поможет метод `groupby`

In [55]:
data.groupby('user_rating').price.max().head()

user_rating
0.0    47.99
1.0    24.99
1.5     4.99
2.0     9.99
2.5     9.99
Name: price, dtype: float64

*Задания*

---

Получите ответ на следующие вопросы (с помощью pandas):

1). Сколько приложений с максимальным рейтингом (`user_rating`)?

2). Сколько всего жанров (`prime_genre`) и какие они? (Hint: `np.unique`)  

3). Сколько суммарно байт (`size_bytes`) весят все приложения жанра Finance?  

4). Сколько всего бесплатных приложений, у которых рейтинг юзеров больше трёх?  

5). Есть ли приложения, которые стоят больше 100 долларов?

6). Сколько приложений из жанра `Games` или `Shopping`, которые стоят дороже 10 USD или меньше 2 USD, но не являются бесплатными?

7). Посчитайте среднюю цену приложений, которые имеют рейтинг 4.5 и возрастное ограничение (`cont_rating`) 12+

In [63]:
# приложений с максимальным рейтингом (user_rating)?
max_user_rating = data.user_rating.max()
print(max_user_rating)
len(data[data.user_rating==max_user_rating].track_name.unique())

5.0

492

In [66]:
# всего жанров (prime_genre) и какие они? (Hint: np.unique)
ans = data.prime_genre.value_counts()
print(ans)
len(ans)

Games                3862
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: prime_genre, dtype: int64

23

In [67]:
# Сколько суммарно байт (size_bytes) весят все приложения жанра Finance?
data[data.prime_genre=='Finance'].size_bytes.sum()

8136529366

In [68]:
# 4). Сколько всего бесплатных приложений, у которых рейтинг юзеров больше трёх?
sum((data.user_rating>3) & (data.price==0))

2944

In [69]:
# 5). Есть ли приложения, которые стоят больше 100 долларов?
any(data.price > 100)

True

In [70]:
# 6). Сколько приложений из жанра Games или Shopping, которые стоят дороже 10 USD или меньше 2 USD, но не являются бесплатными?
sum(data.prime_genre.isin(['Games','Shopping']) & ((data.price>10) | ( (data.price < 2) & (data.price > 0))))

739

In [71]:
# 7). Посчитайте среднюю цену приложений, которые имеют рейтинг 4.5 и возрастное ограничение (cont_rating) 12+

data[(data.user_rating == 4.5) & (data.cont_rating=='12+')].price.mean()

1.689205298013248

---

Мы разобрали только малую часть работы с `pandas`. Это действительно мощный инструмент для работы с данными и его возможности обширны

Из того, что мы не разобрали (уделили мало внимания), стоит обратить внимание на следующие вещи:

* Работа с пропущенными значениями (`fillna`)
* Объединение таблиц (`join`)
* Агрегирование таблицы (`gropby`)
* Применение к данным функций (`apply`, `applymap`)
* так же стоит посмотреть, как работать с базами данных в `pandas`

Список полезных ссылок:

* Официальные туториалы: https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html

* Официальная документация: https://pandas.pydata.org/pandas-docs/stable/

* Статья на Хабре от OpenDataScience сообщества: https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

* Небольшой курс от kaggle: https://www.kaggle.com/learn/pandas

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, читать документацию на официальном сайте (она довольно хорошо написана), а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).